body{
    font-family: 'Bruno Ace SC', cursive;
    background-color: aquamarine;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}

.page{
    display: flex;
    height: 100vh;
}

.view{
    background-image: url(efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-size: cover;
}



.logo{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    max-width: 10%;
    height: auto;
}
.footer{
    margin-top: 50px;
}
.footer button{
 
    
    
    border: 2px solid rgb(244, 161, 27);
    padding: 15px;
    margin: 10px;
    
    
}
.footer button:hover{
    background-color: rgb(244, 161, 27);
    border-color: rgb(244, 161, 27);
    color: white;
    border-radius: 5px;
    

}
.footer a{
    color: rgb(224, 39, 39);
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover{
    text-decoration: underline;
}
h1{
    color:rgb(103, 57, 52);
}